version: 2
updates:
  - package-ecosystem: "gomod"
    directory: "/"
    labels:
      - "go"
      - "area/dependency"
      - "kind/enhancement"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "gomod"
      include: "scope"
  - package-ecosystem: "docker"
    directory: "/"
    labels:
      - "docker"
      - "area/dependency"
      - "kind/enhancement"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "docker"
      include: "scope"
  - package-ecosystem: "github-actions"
    directory: "/"
    labels:
      - "github-actions"
      - "area/dependency"
      - "kind/enhancement"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "github-actions"
      include: "scope"
