# Default owners of the repository
* @PK85 @jaroslaw-pieszka @piotrmiskiewicz @ralikio @szwedm @ukff @wozniakjan @MarekMichali

# Owners of all .md files in the repository
*.md @IwonaLanger @grego952 @NHingerl @mmitoraj @nataliasitko
