# Default owners of the repository
* @kyma-project/gopher

# Owners of all .md files and all files within the /docs/ directory
*.md @kyma-project/technical-writers
/docs/ @kyma-project/technical-writers
