apiVersion: apps/v1
kind: Deployment
metadata:
  name: controller-manager
  namespace: system
  labels:
    app.kubernetes.io/component: btp-manager.kyma-project.io
spec:
  selector:
    matchLabels:
      app.kubernetes.io/component: btp-manager.kyma-project.io
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
        sidecar.istio.io/inject: "false"
      labels:
        app.kubernetes.io/component: btp-manager.kyma-project.io
        kyma-project.io/module: btp-operator
        sidecar.istio.io/inject: "false"
    spec:
      priorityClassName: "kyma-priority"
      securityContext:
        runAsNonRoot: true
        runAsUser: 10001
        runAsGroup: 30001
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        args:
        - --leader-elect
        image: controller:latest
        name: manager
        ports:
        - name: http
          containerPort: 8080
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
          privileged: false
          runAsNonRoot: true
          readOnlyRootFilesystem: true
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 1
            memory: 500Mi
          requests:
            cpu: 10m
            memory: 32Mi
      serviceAccountName: controller-manager
      terminationGracePeriodSeconds: 10
