name: Enable auto merge
on:
  pull_request_target:
    branches: [main, sm-integration]
    types:
    - opened
    - reopened
    - ready_for_review
    - synchronize
#ddd
jobs:
  enable-auto-merge:
    runs-on: ubuntu-latest
    steps:
      - name: Enable auto-merge for PRs
        env:
          PR_URL: ${{github.event.pull_request.html_url}}
          GH_TOKEN: ${{secrets.BOT_TOKEN}}
          GIT_EMAIL: team-gopher+1@sap.com
        run: gh pr merge -A ${{ env.GIT_EMAIL }} --auto --squash "$PR_URL"
