name: Markdown link check

on: 
    pull_request:
    schedule:
      - cron: '0 0 * * *' 

jobs:
  markdown-link-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: gaurav-nelson/github-action-markdown-link-check@3c3b66f1f7d0900e37b71eca45b63ea9eedfce31
      with:
        use-quiet-mode: 'yes'
        config-file: '.mlc.config.json'