name: All checks passed
on:
  pull_request:
    types:
    - opened
    - synchronize
    - reopened
    - ready_for_review
    - edited
    - labeled
    - unlabeled
      
jobs:
  checks-passed:
    runs-on: ubuntu-latest
    permissions:
      checks: read
      contents: read
    steps:
      - name: Check if draft
        if: ${{ github.event.pull_request.draft }}
        run: | 
          echo "Draft PRs are not checked"
          exit 1
      - uses: wechuli/allcheckspassed@f423b273f5fdf73582e41f8f6f0f204d69c27379
        with:
          delay: '2'
          retries: '15'
          polling_interval: '1'
          checks_exclude: 'markdown-link-check,enable-auto-merge,run-govulncheck,scan,run-e2e-sap-btp-manager-secret-customization-test'
          verbose: true
