name: Run govulncheck

on:
  pull_request:
    branches: [main, sm-integration]
    paths-ignore:
      - "**.md"
      - "sec-scanners-config.yaml"
      - "external-images.yaml"
      - "module-chart/**"

jobs:
  run-govulncheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Run govulncheck
        uses: golang/govulncheck-action@v1
        with:
          go-version-file: 'go.mod'
          repo-checkout: false
