name: Run unit tests

on:
  push:
    branches: [main, sm-integration]
  pull_request:
    # Trigger for Pull Request
    branches: [main, sm-integration]
    paths-ignore:
      - "**.md"
      - "sec-scanners-config.yaml"

jobs:
  run-unit-tests:
    uses: "./.github/workflows/run-unit-tests-reusable.yaml"
