# This workflow is supposed to be called from other jobs to execute unit tests in current context

name: Run unit tests (reusable)

on:
  workflow_call:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up cache
      uses: actions/cache@v3
      with:
        path: |
          ~/.cache/go-build
          ~/go/pkg/mod
          /home/runner/work/btp-manager/btp-manager/bin
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Set up go environment
      uses: actions/setup-go@v3
      with:
        go-version: 1.19

    - name: Run make test
      run: make test
      
