name: Run performance tests on the cluster

on:
  pull_request:
    branches: [main, sm-integration]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths-ignore:
      - "**.md"
      - "sec-scanners-config.yaml"
      - "external-images.yaml"
      - "module-chart/**"

jobs:
  run-performance-tests:
    uses: "./.github/workflows/run-performance-tests-reusable.yaml"
    with:
      release: "false"
      image-tag: PR-${{ github.event.number }}
      image-repo: localhost:5000/btp-manager
      credentials-mode: dummy
