name: Run go linter

on:
  pull_request:
    branches: [main, sm-integration]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths-ignore:
      - "**.md"
      - "sec-scanners-config.yaml"

jobs:
  run-go-linter:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up go environment
        uses: actions/setup-go@v4
        with:
          go-version-file: 'go.mod'

      - name: Go linter
        env:
          GOLINT_TIMEOUT: ${{ vars.GOLINT_TIMEOUT }}
        run: make go-lint
