name: Run E2E SAP BTP Manager secret customization test
on:
  pull_request:
    branches: [ main ]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
    paths-ignore:
      - "**.md"
      - "sec-scanners-config.yaml"
      - "external-images.yaml"
      - "module-chart/**"

jobs:
  run-e2e-sap-btp-manager-secret-customization-test:
    name: E2E SAP BTP Manager secret customization test
    if: ${{ !github.event.pull_request.draft }}
    secrets: inherit
    uses: "./.github/workflows/run-e2e-sap-btp-manager-secret-customization-test-reusable.yaml"
    with:
      release: "false"
      image-registry: localhost:5000
      image-tag: PR-${{ github.event.number }}
