name: Run E2E SAP BTP Manager secret customization test on the cluster (reusable)
on:
  workflow_call:
    inputs:
      image-registry:
        description: Binary image registry reference
        required: true
        type: string
      image-tag:
        description: Binary image tag
        required: true
        type: string

jobs:
  run-e2e-sap-btp-manager-secret-customization-test:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up go environment
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Prepare k3s cluster and docker registry
        run: "./scripts/testing/k3s-setup.sh --wait"

      - name: Wait for image to be ready
        uses: wechuli/allcheckspassed@2e5e8bbc775f5680ed5d02e3a22e2fc7219792ac
        with:
          delay: '1'
          retries: '15'
          polling_interval: '1'
          checks_include: 'build-image / Build image'
          verbose: true

      - name: Install module
        run: "./scripts/testing/install_module.sh ${{ inputs.image-registry }}:${{ inputs.image-tag }} dummy"

      - name: Run tests
        run: "./scripts/testing/run_e2e_sap_btp_manager_secret_test.sh"
