#  This GitHub action is designed to run end-to-end (e2e) tests on a Kubernetes clusters using the latest k3s distributions.
#  The action is triggered on pull requests to the main branch of the repository.

name: Run E2E tests on the cluster

on:
  pull_request:
    branches: [main, sm-integration]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  run-e2e-tests:
    uses: "./.github/workflows/run-e2e-tests-reusable.yaml"
    if: ${{ !github.event.pull_request.draft }}
    with:
      image-tag: PR-${{ github.event.number }}
      image-repo: europe-docker.pkg.dev/kyma-project/dev/btp-manager
      credentials-mode: dummy
      last-k3s-versions: 3
      release: "false"

