# This reusable workflow is designed to run end-to-end (e2e) upgrade tests on a Kubernetes cluster using the k3s distribution.
# Call this workflow from another workflow to execute the tests in the current context.

name: Run E2E upgrade tests on the cluster (reusable)
on:
  workflow_call:
    inputs:
      image-repo:
        description: Binary image registry reference
        required: true
        type: string
      image-tag:
        description: Binary image tag
        required: true
        type: string
jobs:
  run-e2e-upgrade-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up go environment
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'

      - name: Prepare k3s cluster and docker registry
        run: "./scripts/testing/k3s-setup.sh --wait"

      - name: Wait for image to be ready
        uses: wechuli/allcheckspassed@b0eaef5be76003932c9520e2b3dd03c85cc43d87
        with:
          delay: '1'
          retries: '15'
          polling_interval: '1'
          checks_include: 'build-image / Build image'
          verbose: true

      - name: Run tests
        env:
          SM_CLIENT_ID: ${{ secrets.CLIENT_ID }}
          SM_CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
          SM_URL: ${{ secrets.SM_URL }}
          SM_TOKEN_URL: ${{ secrets.TOKENURL }}
        run: "./scripts/testing/run_e2e_module_upgrade_tests.sh ${{ inputs.image-repo }} ${{ inputs.image-tag }}"
