name: sync-external-images
on:
  push:
    branches:
      - main
    paths:
      - "external-images.yaml"

permissions:
  id-token: write
  contents: read

jobs:
  sync-external-images:
    uses: kyma-project/test-infra/.github/workflows/image-syncer.yml@main